/* importacion de letra */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;

}

/* logo pagina*/
#logo {
    width: 150px;
}

/* Navbar*/
#navbar {
    background-color: #cbea8c;
    font-family: 'Montserrat', sans-serif;
}

/* Imagen bajo el nav*/
#boycard1 {
    border: none;
    background-color: #D0F0C0;


}

/* imagenes con hover*/
.img-fluid:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;



}

/* Cuerpo de pagina*/
#bodyindex {
    background-color: #D0F0C0;

}

#input {
	background-color: #D0F0C0;
}
form {
	background-color: #D0F0C0;
}

/* Cartas*/
#cartas {
    background-color: #A7DB42;


}

.card-footer {
    background-color: #c7e887;
}

/* footer*/
#footer {
    background-color: #b8e75b;
}

/* sinfondo1 */
#sinfondo1 {
    width: 50%;
    /* ajustar el tamaño de la imagen */
    height: auto;
    /*  proporción de la imagen */
}

#sinfondo2 {
    width: 100%;
    /* ajustar el tamaño de la imagen */
    height: auto;
    /*  proporción de la imagen */
}

#sinfondo3 {
    width: 100%;
    /* ajustar el tamaño de la imagen */
    height: auto;
    /*  proporción de la imagen */

}

#sinfondo4 {
    width: 100%;
    /* ajustar el tamaño de la imagen */
    height: auto;
    /*  proporción de la imagen */


}

.banner-img {
    height: 100px;
    /* Establece la altura deseada */
    width: 100%;
    /* Ajusta la anchura al contenedor */
    image-rendering: crisp-edges;
    /* Para navegadores modernos */
}

#boycard1 img {
    width: 100%;
    /* ajusta la imagen al ancho del contenedor */
    height: 300px;
    /* establece la altura deseada */
    object-fit: cover;
    /* para evitar que la imagen se distorsione */

}

.aside-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
}

.aside-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #ddd;
}

.aside-container button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.aside-container .heart-button i {
    color: red;
}

.aside-content {
    padding: 16px;
    overflow-y: auto;
    flex: 1;
}


#bgbody{
background-color: #e7f7d6;
}
